* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

/* INDEX PAGE */
.home {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* STUDENT SPLASH PAGE */

.splash {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.bold-text {
  font-size: 12px;
  margin-top: 6px;
  font-weight: 800;
}

/* STUDENT SIGNUP PAGE  */
.signUp,.signUpAuth {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}
.signUpHeader {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.signUp > .signUpHeader > h3 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
.signUpForm {
  margin: 2rem 0.5rem;
  margin-right: 2rem;
}
label {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0.8rem 0;
}
.signUpForm > form > input {
  background: #efefef;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 0.7rem;
}
.signUpForm > form > input::placeholder {
  padding-left: 0.2rem;
}
.save {
  margin: 2rem 0;
  color: white;
  background: #319f43;
  border-radius: 9px;
  padding: 0.55rem 2.2rem;
  outline: none;
  border: none;
}

/* SIGNUP AUTH */
